name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  actions: read
  checks: read
  contents: read
  issues: write
  pull-requests: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
    - name: download SDK
      run: wget https://download.01.org/intel-sgx/sgx-linux/2.23/distro/ubuntu22.04-server/sgx_linux_x64_sdk_2.23.100.2.bin
    - name: install SDK
      run: chmod +x *.bin; echo yes | ./sgx_linux_x64_sdk_2.*.bin
    - name: download OpenSSL code
      run: wget https://www.openssl.org/source/openssl-3.0.13.tar.gz --directory-prefix=openssl_source/
    - name: build SGXSSL
      run: source sgxsdk/environment; cd Linux; make all; DEBUG=1 make all
    - name: run unit test in SIM
      run: source sgxsdk/environment; cd Linux; make -C sgx/test_app/ clean; SKIP_INTELCPU_CHECK=TRUE SGX_MODE=SIM make test      
