name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  actions: read
  checks: read
  contents: read
  issues: write
  pull-requests: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: download SDK
      run: wget https://download.01.org/intel-sgx/sgx-linux/2.27/distro/ubuntu24.04-server/sgx_linux_x64_sdk_2.27.100.1.bin
    - name: install SDK
      run: chmod +x *.bin; echo yes | ./sgx_linux_x64_sdk_2.*.bin
    - name: download OpenSSL code
      run: wget https://www.openssl.org/source/openssl-3.0.19.tar.gz --directory-prefix=openssl_source/
    - name: build SGXSSL
      run: source sgxsdk/environment; cd Linux; make all; DEBUG=1 make all
    - name: run unit test in SIM
      run: source sgxsdk/environment; cd Linux; make -C sgx/test_app/ clean; SKIP_INTELCPU_CHECK=TRUE SGX_MODE=SIM make test      
